.maindiv {
    background-color: aquamarine;
    h1 {
        text-align: center;
        color: #000000;
        font-size: 35px;
        padding: 50px;
        margin: 0;
    }
    h2 {
        text-align: center;
        color: #000000;
        font-size: 30px;
        padding: 50px;
        margin: 0;
        text-decoration: underline;
    }
}